// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";
@import "component/views";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";


// Import font family
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');

@media (min-width: 768px) {
  .offset-md-1 {
    margin-left: 8.333333%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}


ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin: 1em 0;
  padding-bottom: 1em;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

body {
  font-size: 18px;
  line-height: 26px;
  font-family: 'Open Sans', sans-serif;
  background-color: #f6f6f6;
}
body.path-frontpage {
  .col-sm-12[role="heading"] {
    padding: 0;
    & > .region > * {
      padding-left: 15px;
      padding-right: 15px;
    }
    & > .region > .block-hero-block {
      padding: 0;
    }
  }
  .navbar {
    margin-bottom: 0;
  }
}
#block-contact-block {
  background: #eee;
  text-align: center;
  .row {
    padding: 50px 0;
  }
  h5 {
    letter-spacing: 5px;
    margin: 0 0 5px 0;
    font-size: 12px;
  }
  h3 {
    margin: 0;
    padding: 0;
  }
  a {
    color: #000;

  }
  a i {
    font-size: 28px;
  }
  ul {
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin-right: 10px;
  }
}
#signup {
  width:100%;
  background: black;
  color: #fff;
  text-align: center;
  padding: 40px;
}
a.logo img {
  height: 32px;
  width: auto;
}
@media (max-width: 600px) {
  .bg-image-wrapper h4 {
    font-size: 32px;
  }
}
.page-node-type-news h1.page-header {
  line-height: 1.4em;
}
article .sidebar .field{
  background-color: #fff;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,.15);
  //border: 1px solid #337ab7;
  padding: 20px 30px 40px 30px;
}

article img {
  float: left;
  margin: 0 1em 1em 0;
}
article h2,
article h3,
article h4 {
  clear: both;
  line-height: 1.4em;
}

article.session .user__compact {
  float: left;
}
article.session .author {
  @extend .clearfix;
}
article > footer,
.field--label {
  margin: 1em 0;
}
article > footer {
  background: $table-bg-hover;
  padding: 1em;

}
body.drupalcamp-2018 {
  #block-contact-block,
  footer .views-element-container {
    display: none;
    
  }
}
.field--name-field-user-picture,
.view-id-featured_speakers {
  img {
    max-width: 100%;
    border-radius: 50%;
    border: 5px solid $brand-primary;
  }
}
.block-views-blockfeatured-speakers-block-1 {
  h2 {
    text-align: center;
    padding: 1em;
  }
  padding: 2em 0;
}
