// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}
body.path-frontpage {
  .col-sm-12[role="heading"] {
    padding: 0;
    & > .region > * {
      padding-left: 15px;
      padding-right: 15px;
    }
    & > .region > .block-hero-block {
      padding: 0;
    }
  }
  .navbar {
    margin-bottom: 0;
  }
}
#block-contact-block {
  background: #eee;
  text-align: center;
  .row {
    padding: 50px 0;
  }
  h5 {
    letter-spacing: 5px;
    margin: 0 0 5px 0;
    font-size: 12px;
  }
  h3 {
    margin: 0;
    padding: 0;
  }
  a {
    color: #000;
  }
  a i {
    font-size: 28px;
  }
  ul {
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin-right: 10px;
  }
}
#signup {
  width:100%;
  background: black;
  color: #fff;
  text-align: center;
  padding: 40px;
}
a.logo img {
  height: 32px;
  width: auto;
}
@media (max-width: 600px) {
  .bg-image-wrapper h4 {
    font-size: 32px;
  }
}
article.session .user__compact {
  float: left;
}
article.session .author {
  @extend .clearfix;
}
article > footer,
.field--label {
  margin: 1em 0;
}
article > footer {
  background: $table-bg-hover;
  padding: 1em;

}
#block-views-block-sponsor-blocks-block-2,
#block-views-block-sponsor-blocks-block-1 {
  text-align: center;
  @extend .container;
  .view-content {
    @extend .row;
  }
}
#block-views-block-sponsor-blocks-block-1 {
  .views-row {
    @extend .col-sm-6;
  }
}
#block-views-block-sponsor-blocks-block-2 {
  .views-row {
    @extend .col-sm-3;
  }
}
