.view-sessions {

  .view-content > div{
    display: flex;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 5px;
    padding-bottom: 10px;
    &:last-of-type {
      border-bottom: 0;
    }
  }

  h3 {
    margin-right: 20px;
    color: #9d9d9d;
  }

  .views-row {
    h2 {
      font-size: $font-size-h3 / 1.2;
      a {
        color: #222;
      }
    }
  }
}
#block-views-block-sponsor-blocks-block-4,
#block-views-block-sponsor-blocks-block-1,
#block-views-block-sponsor-blocks-block-2,
#block-views-block-sponsor-blocks-block-3 {
  text-align: center;
  @extend .container;
  .view-content {
    @extend .row;
  }
}
#block-views-block-sponsor-blocks-block-4 {
  .views-row {
    @extend .col-sm-8;
  }
}
#block-views-block-sponsor-blocks-block-1 {
  .views-row {
    @extend .col-sm-4;
  }
}

#block-views-block-sponsor-blocks-block-2 {
  .views-row {
    @extend .col-sm-2;
  }
}
#block-views-block-sponsor-blocks-block-3 {
  .views-row {
    @extend .col-sm-1;
  }
}
